{% extends "layouts/default.twig" %}
{% block scripts %}
{{ parent() }}
<script type="text/javascript">
function deleteTalk(tid) {
    $.ajax({
        type: "POST",
        url: "/talk/delete",
        data: "tid=" + tid + "&user_id=" + {{ user.id }} + "&token={{ csrf_token('delete_talk') }}&token_id=delete_talk" ,
        success: function(data, textStatus, jqXHR) {
            if (data.delete == 'ok') {
                $("#talk-"+tid).remove();
            } else if (data.delete == 'no-user') {
                alert("You must be logged in to delete talks");
            } else {
                alert("Unable to delete talk");
            }
        }
    });
}
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 page-title" style="background-image: url('{{ site.venue_image_path }}');">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-12 h-100 d-flex justify-content-center flex-column">
                        <h1 class="text-center">My Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if not profile.needsProfile() %}
<div class="container-fluid bg-primary">
    <div class="row py-3">
        <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        {% if profile.photo is not empty %}
                            <img src="{{ uploads(profile.photo) }}" class="rounded-circle w-100"/>
                        {% else %}
                            <img src="{{ assets('img/dummyphoto.jpg') }}" class="rounded-circle w-100"/>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <h2 class="m-0 text-white">{{ profile.name }}</h2>
                        {% if profile.company %}
                            <p class="text-white">{{ profile.company }}</p>
                        {% endif %}

                        {% if profile.twitter %}
                            <a class="text-white text-xs" href="https://twitter.com/{{ profile.twitter }}" title="{{ profile.name }} on Twitter"><i class="fa fa-fw fa-twitter"></i> @{{ profile.twitter }}</a>
                        {% endif %}

                        {% if profile.joindInUsername %}
                            <br /><a class="text-white text-xs"
                                     href="{{ profile.joindInUrl }}"
                                     title="Follow {{ profile.name }} on joind.in">
                            <i class="fa fa-fw fa-commenting-o"></i> {{ profile.joindInUsername }}
                        </a>
                        {% endif %}

                        {% if profile.url %}
                            <br /><a class="text-white text-xs" href="{{ profile.url }}">
                            <i class="fa fa-fw fa-desktop"></i> {{ profile.url }}</a>
                        {% endif %}
                    </div>
                    <div class="col-md-7 text-right">
                        <a class="btn border-white text-white mr-2" href="{{ url('password_edit') }}">Change Password</a>
                        <a class="btn border-white text-white mr-2" href="{{ url('user_edit', { id: user.id }) }}">Edit Profile</a>
                        <a class="btn border-white text-white" href="{{ url('user_delete') }}">Delete Profile</a>
                        {% if profile.talks is not empty %}<a class="btn border-white text-white ml-2" href="{{ url('talk_new') }}">Submit a talk</a>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container my-4">
    <div class="row">
        <div class="col-12">
            {% if profile.needsProfile() %}
                <div class="text-center">
                    <i class="fa fa-user-circle text-soft fa-5x"></i>
                    <h1 class="font-serif font-thin text-5xl">Welcome to {{ site.title }}!</h1>
                    <p class="text-soft mb-8">It looks like this is your first time here...</p>
                    <a href="{{ url('user_edit', { id: user.id }) }}" class="btn btn-primary">Fill out your profile</a>
                    <br><br>
                    <p class="text-soft mb-8">Click below to delete your account without going any further</p>
                    <a class="btn btn-secondary" href="{{ url('user_delete') }}" >Delete your account</a>
                </div>
            {% else %}
                <div class="container">
                    {% if profile.talks is not empty %}
                        {% for talk in profile.talks %}
                            <div id="talk-{{ talk.id }}" class="row mb-3">
                                <div class="col-md-10">
                                    <h2 class="m-0"><a href="{{ url('talk_view', { id: talk.id }) }}">{{ talk.title|raw }}</a></h2>
                                    <p class="text-note mb-3">{{ talk.description | truncate(200) }}</p>
                                    <div>
                                        <span class="text-primary mr-2"><i class="fa fa-clock-o"></i> {{ talkHelper.getTypeDisplayName(talk.type) }}</span>
                                        <span class="text-primary"><i class="fa fa-graduation-cap"></i> {{ talkHelper.getCategoryDisplayName(talk.category) }}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if cfp_open %}
                                        <a href="{{ url('talk_edit', { id: talk.id, token: csrf_token('edit_talk'), token_id:'edit_talk'} ) }}">Edit</a>
                                    {% else %}
                                        <a href="{{ url('talk_view', { id: talk.id }) }}">View</a>
                                    {% endif %}
                                    <a href="#" onClick="deleteTalk('{{ talk.id }}', '{{ csrf_token('delete_talk') }}');return false;" class="ml-2">Delete</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="text-center">
                            <i class="fa fa-commenting-o text-soft fa-5x"></i>
                            <h1 class="font-serif font-thin text-5xl m-0">Get Started!</h1>
                            <p class="mb-8">Submit as many talks as you like for consideration ...</p>
                            <a href="{{ url('talk_new') }}" class="btn btn-primary">Submit a Talk</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
