<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ site.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ assets('css/app.css') }}" rel="stylesheet">

    <link rel="icon" type="image/ico" href="/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/favicon/manifest.json">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#fc5300">
    <meta name="theme-color" content="#ffffff">
</head>
<body {% if active('homepage') %}class="home"{% endif %}>
<nav class="navbar fixed-top navbar-expand-lg" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ url('homepage') }}">
            {% include '_logo.twig' %}
            <span>Netherlands</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if active('homepage') %}active{% endif %}">
                    <a href="{{ url('homepage') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item {% if active('speaker_package') %}active{% endif %}">
                    <a href="{{ url('speaker_package') }}" class="nav-link">Speaker Package</a>
                </li>
                <li class="nav-item {% if active('talk_ideas') %}active{% endif %}">
                    <a href="{{ url('talk_ideas') }}" class="nav-link">Talk Ideas</a>
                </li>
                {% if user is defined and user is not empty %}
                    <li class="nav-item {% if active('dashboard') %}active{% endif %}">
                        <a href="{{ url('dashboard') }}" class="nav-link">Dashboard</a>
                    </li>
                    {% if user_is_admin %}
                        <li class="nav-item {% if active('admin') %}active{% endif %}">
                            <a href="{{ url('admin') }}" class="nav-link">Admin</a>
                        </li>
                    {% endif %}
                    {% if user_is_reviewer is defined and user_is_reviewer %}
                        <li class="nav-item {% if active('reviewer') %}active{% endif %}">
                            <a href="{{ url('reviewer') }}" class="nav-link">Reviewer</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{{ url('logout') }}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url('login') }}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('user_new') }}" class="nav-link">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block header %}
{% endblock %}

<main>
    {% block content %}{% endblock %}
</main>

<footer class="page-footer py-4 px-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-sm-4">
                <p class="h4">Organisation</p>
                <p>Brought to you by the Mage Titans Team, in partnership with Elgentos, MediaCT & Space 48.</p>
            </div>
            <div class="col-md-3 mb-sm-4">
                <p class="h4">Useful Links</p>
                <ul class="list-unstyled">
                    <li><a href="{{ site.eventurl }}/get-in-touch/">Get in Touch</a></li>
                    <li><a href="{{ site.eventurl }}/code-of-conduct/">Code of Conduct</a></li>
                    <li><a href="{{ site.eventurl }}/terms-and-conditions/">Terms &amp; Conditions</a></li>
                    <li><a href="{{ site.eventurl }}/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-sm-4">
                <p class="h4">Social Media</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/{{ site.twitter_username }}"><span class="fab fa-twitter"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% block scripts %}
<script src="{{ assets('js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ assets('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
